body {
    font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    background: #eae6d1;
    width:100%;
    margin: 0%;
    display: table;
}

h1 {
    font-size: 28px;
    color: #666666;
    position: static;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #393939;
}

h3, h4, h5, h6 {
    color: #666666;
}

h3 {
    font-size: 18px;
}


th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #ffcc00;
}
/*Primo Esercizio*/

header  {
    top: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    padding-top: 12px;
    padding-bottom: 18px;
    height: 76px;
    background: #4276b6;
}

#banner {
    background: #ffcc00;
    float: none;
    height: 50px;

    border-radius: 2.5px ;

    position: relative;
    top: -22px;
    z-index: 1;

    margin-right: 245.5px;
    margin-left: 80px;

}


ul {
    margin-right: 80px;
    margin-left: 80px;
    text-align: right;
    float: left;
    width: 15%;
}
section {
    width: 50%;
    margin-top: 14px;
    float: left;
    background: white;
    padding: 1%;
    clear: right;

}


/*Secondo Esercizio*/
a{
    color:#3399cc;
    text-decoration: none;  }

nav ul {
    list-style-type:none;
    font-size: 14px;
    line-height: 24px;
}

nav ul a:link {
    color: #666666;
}
nav ul a:hover{
    color: #999999;
}

.subsection {
    border: 0px;
    padding-bottom: 20px;
    background-image: url("../images/hr.gif");
    background-repeat: repeat-x;
    background-position: 50% 100%;
 }
.subsection:last-child {
    border: 0px;
    padding-bottom: 20px;
    background: transparent;}

#banner #logo{
    position: absolute;
    display:inline-block;
    right: 0px;
    height: 36px;
    width: 26px;
    background-image: url( "../images/octocat-logo.png");
    margin-top: 6.5px;


}
#banner .button{
    margin-top: 6.5px;
    border-radius: 2.5px ;
    border: 1px solid #dba500;
    background-color: #ffe788;
    color: #333333;
    text-align: center;
    height: 14px;
    padding: 10px;
    display: inline-block;
}


/*Terzo Esercizio*/


@media screen and (max-width: 480px) {

    .nav {
        position: relative;
        min-height: 40px;
    }
    .nav ul {
        width: 180px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        border: solid 1px #aaa;
        background: #fff url(images/icon_list.png) no-repeat 10px 11px;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
    .nav li {
        display: none; /* hide all <li> items */
        margin: 0;
    }
    .nav .current {
        display: block; /* show only current <li> item */
    }
    .nav a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left;
    }
    .nav .current a {
        background: none;
        color: #666;
    }

    /* on nav hover */
    .nav ul:hover {
        background-image: none;
    }
    .nav ul:hover li {
        display: block;
        margin: 0 0 5px;
    }
    .nav ul:hover .current {
       background: url(images/icon-check.png) no-repeat 10px 7px;
    }

    /* right nav */
    .nav.right ul {
        left: auto;
        right: 0;
    }

    /* center nav */
    .nav.center ul {
        left: 50%;
        margin-left: -90px;
    }    }
